{:paths ["src"]
 :deps {circleci/bond {:mvn/version "0.6.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-565"}}
                  :main-opts ["-m" "kaocha.runner"]}
           :nrepl {:extra-deps  {nrepl  {:mvn/version  "RELEASE"}}
                   :main-opts  ["-m"  "nrepl.cmdline"]}}}
